.footer {
  margin-top: 20px;
  height: 130px;
  position: relative;
}

.menu--footer {
  margin-left: 130px;
}

.socials {
  display: inline-block;
  margin-left: 105px;
}

.socials__item {
display: inline-block;
vertical-align: middle;
margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.contacts__desc {
  font-weight: 400;
  font-size: 11px;
  color: #9A9A9A;
}

.footer-container {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}