.footer {
  height: 130px;
}

.menu--footer {
  margin-left: 55px;
}

.contacts__desc {
  font-weight: 400;
  font-size: 11px;
  color: #9A9A9A;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}