.hero {
  margin-bottom: 193px;
}

.hero__content {
  margin-bottom: 190px;
}

.hero__title {
  font-size: 60px;
  font-weight: 700;
  width: 640px;
  margin-bottom: 20px;
  line-height: 1.1;
}

.hero__subtitle {
  font-size: 21px;
  margin-bottom: 75px;
}

.btn {
  display: inline-block;
  background: #8F00FF;
  border-radius: 5px;
  padding: 18px 40px;
  width: 168px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
