.newgames {
  margin-bottom: 127px;
}

.title--icon::after {
  content: "";
  display: inline-block;
  height: 42px;
  width: 42px;
  background: url(../../img/new.svg) center center / cover no-repeat;
  margin-left: 10px;
  vertical-align: middle
}


.btn--color--violet {
  background: #FFFFFF;
  color: #8F00FF;
  border: 1px solid #8F00FF;
  width: 136px;
  padding: 18px 30px;
}

.btn--color--violet:hover {
  background: #8F00FF;
  color: #fff
}

.newgames__item {
  display: inline-block;
  min-height: 450px;
  width: 362px;
  background: #fff;
  border-radius: 5px;
  margin-right: 22px;
}

.newgames__item:last-child {
  margin-right: 0;
}

.newgames__header {
  min-height: 144px;
  margin-bottom: 33px;
}

.newgames__content {
  padding: 0 20px 15px;
  color: #303030;
}

.newgames__list-sub {
  margin-bottom: 20px;
}

.newgames__item-sub {
  display: inline-block;
  margin-right: 54px;
}

.newgames__item-sub:last-child {
  margin-right: 0;
}
.newgames__img {
  float: left;
  margin-right: 10px;
}
.newgames__text {
  float: right;
  font-weight: 400;
  font-size: 16px;
  color: #666;
}
.newgames__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 22px;
}

.newgames__ph {
  width: 324px;
  font-weight: 400;
  font-size: 14px;
  color: #303030;
  margin-bottom: 24px;
  line-height: 21px;
}
