.separator {
  background: #17191C url(../../img/reviews/bg-review.jpg) right bottom no-repeat;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.separator__content {
  max-width: 40%;
}

.separator__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
}