.top-line {
  display: flex;
  flex-direction: column;
  min-height: 412px;
  padding-bottom: 25px;
  background: url(../../img/bg-games.jpg);
  background-repeat: no-repeat;
	background-size: cover;
}

.top-line__header {
  margin-bottom: 95px;
  padding-top: 27px;
}

.top-line__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.page-title {
font-weight: 700;
font-size: 72px;
line-height: 98px;
}